<ion-header>
  <ion-toolbar>
    <ion-title>Insertar Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Nombre:</ion-label>
    <ion-input clearInput [(ngModel)]="nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Descripción:</ion-label>
    <ion-input clearInput [(ngModel)]="descripcion"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Categoría:</ion-label>
    <ion-select okText="Okay" cancelText="Dismiss" [(ngModel)]='opcion' (ngModelChange)="cambiar_Oculto()">
      <ion-select-option value="Tecnologia">{{tecnologia}}</ion-select-option>
      <ion-select-option value="Hogar">{{hogar}}</ion-select-option>
      <ion-select-option value="Inmobiliaria">{{inmobiliaria}}</ion-select-option>
      <ion-select-option value="Motor">{{motor}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Precio:</ion-label>
    <ion-input [type]=type clearInput [(ngModel)]="precio"></ion-input>
  </ion-item>
  <ion-list *ngIf="ocultar_motor == false">
    <ion-item>
      <ion-label>Tipo de vehículo:</ion-label>
      <ion-select value="coche" okText="Okay" cancelText="Dismiss" [(ngModel)]='opcion2'>
        <ion-select-option value="coche">Coche</ion-select-option>
        <ion-select-option value="moto">Moto</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Kilómetros:</ion-label>
      <ion-input [type]=type clearInput [(ngModel)]='Km'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Año:</ion-label>
      <ion-input [type]=type clearInput [(ngModel)]='fabricacion'></ion-input>
    </ion-item>
    <ion-card>
      <ion-button expand="block" (click)="insertarMotor()">Insertar</ion-button>
    </ion-card>
    <ion-card *ngFor="let item of productos">
      <ion-card-header>
      <ion-card-title>{{item.nombre}} ({{item.precio}} €) </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label>Categoría: </ion-label>
        {{item.categoria}} -
        <ion-label>Descripción: </ion-label>
        {{item.descripcion}} -
        <ion-label>Tipo de Vehículo: </ion-label>
        {{item.tipo_vehiculo}} -
        <ion-label>Kilómetros </ion-label>
        {{item.Km}} -
        <ion-label>Año de Fabricación: </ion-label>
        {{item.fabricacion}}
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-list *ngIf="ocultar_inmobiliaria == false">
    <ion-item>
      <ion-label>Metros cuadrados vivienda:</ion-label>
      <ion-input clearInput [type]=type [(ngModel)]='metros_cuadrados'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Número de baños:</ion-label>
      <ion-input [type]=type clearInput [(ngModel)]='num_banyos'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Número de habitaciones</ion-label>
      <ion-input clearInput [type]=type [(ngModel)]='num_habitaciones'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Localidad:</ion-label>
      <ion-input clearInput [(ngModel)]='localidad'></ion-input>
    </ion-item>
    <ion-card>
      <ion-button expand="block" (click)="insertar()">Insertar</ion-button>
    </ion-card>
    <ion-card *ngFor="let item of productos">
      <ion-card-header>
      <ion-card-title>{{item.nombre}} ({{item.precio}} €) </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label>Categoría: </ion-label>
        {{item.categoria}} -
        <ion-label>Descripción: </ion-label>
        {{item.descripcion}} -
        <ion-label>Metros cuadrados: </ion-label>
        {{item.metros_cuadrados}} -
        <ion-label>Número de baños: </ion-label>
        {{item.num_banyos}} -
        <ion-label>Número de habitaciones: </ion-label>
        {{item.num_habitaciones}} - 
        <ion-label>Localidad: </ion-label>
        {{item.localidad}}
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-list *ngIf="ocultar_tecnologia == false">
    <ion-item>
      <ion-label>Estado del producto:</ion-label>
      <ion-select value="perfecto" okText="Okay" cancelText="Dismiss" [(ngModel)]='opcion3'>
        <ion-select-option value="Perfecto Estado">Perfecto estado</ion-select-option>
        <ion-select-option value="Usado">Usado</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-card>
      <ion-button expand="block" (click)="insertarTecno()">Insertar</ion-button>
    </ion-card>
    <ion-card *ngFor="let item of productos">
      <ion-card-header>
      <ion-card-title>{{item.nombre}} ({{item.precio}} €) </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label>Categoría: </ion-label>
        {{item.categoria}} -
        <ion-label>Descripción: </ion-label>
        {{item.descripcion}} -
        <ion-label>Estado del producto: </ion-label>
        {{item.estado_producto}}
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
