<ion-header>
  <ion-toolbar>
    <ion-title>Listado de Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of productos">
    <ion-card-header>
    <ion-card-title>{{item.nombre}} ({{item.precio}} €) </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>Categoría: </ion-label>
      {{item.categoria}} -
      <ion-label>Descripción: </ion-label>
      {{item.descripcion}} -
      <ion-label>Estado del producto: </ion-label>
      {{item.estado_producto}}
    </ion-card-content>
    <ion-button expand="block" [routerLink]="['/detalles/',item.id]" routerDirection="forward">Detalles</ion-button>
    <!-- Examen !-->
    <ion-button expand="block" (click)="gustar()">Me gusta</ion-button>
  </ion-card>
</ion-content>
